console.log(<%=@quakes.count%> + ' quakes');
// $('#blurb').text("Currently plotting <%=@quakes.count%> earthquakes that have occurred since <%=@quakes.first.occurred_on.localtime.strftime('%B %d, %Y %I:%M%p')%>");
$('#blurb').text("Currently plotting <%=@quakes.count%> most recent earthquakes");