<div class="container">
  <header>
    <h1>Here be earthquakes.</h1>
    <h2 class="subtitle">Visualizing seismic activity around the world</h2>

    <p>Below is a visualization of earthquakes which have occcurred recently plotted on a globe and displaying their respective magnitudes. Click and drag the mouse to rotate the globe and use the mouse wheel to zoom.</p> 
    <small>To see the visualization, the latest versions of Chrome or Firefox with WebGL support is required</small>
  </header>

<!--   <section>
    <div id="filters" class="span-8">
        <p>View earthquakes from
          <%= link_to 'Today', '/quakes/globe/today' , id: 'quakes-day', remote: true %> |
          <%= link_to 'Yesterday', '/quakes/globe/yesterday' , id: 'quakes-yesterday', remote: true %> |
          <%= link_to 'Last Week', '/quakes/globe/last-week' , id: 'quakes-week', remote: true %> |
          <%= link_to 'All', '/quakes/globe' , id: 'quakes-all', class: 'active', remote: true %>
        </p>
      </nav>
    </div>
  </section>
   -->
  <section>
  <div class="span-16" id="globe"></div>
  <div class="span-16">
<!--     <h3 id="blurb" class="subtitle">Currently plotting a total of <%= @quakes.count %> earthquakes that have occurred since <%= @quakes.first.occurred_on.localtime.strftime('%B %d, %Y %I:%M%p')%></h3> -->
    <h3 id="blurb" class="subtitle">Currently plotting 300 of the most-recent earthquakes.</h3>
  </div>
</section>

<section>
  <div class="span-8">
    <%= render 'stats', :object => @recent, :heading => 'Recent Activity' %>
  </div>
  <div class="span-8">
    <%= render 'stats', :object => @most_severe, :heading => 'Most Severe' %>
  </div>
</section>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6778525-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>