$grey: #666;
$darkGrey: #333;
$lightGrey: #aaa;

$blue: #1793C7;

body {
  background-color: #f0f0f0;
  border-top: 5px solid #333;
}

body, h1, h2, h3, h4, h5, h6, p{
  color: $grey;
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-shadow: 1px 1px 1px #FFFFFF;
}
header,section {
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5 {
	color: $darkGrey;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
    font-size: 48px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
p, small {
    margin-bottom: 5px;
}
ul, ol {
    margin-bottom: 20px;
}

small {
	color: $lightGrey;
	font-size: 12px;
	font-style: italic;
}

header {
	h1 {
		margin: 0;
		line-height: 1;
	}
}
	
.subtitle {
    border-bottom: 0 none;
    color: $blue;
    font-weight: 300;
    line-height: 40px;
    text-transform: none;
}
#globe {
	background-color: #111;
	height: 400px;
	margin-bottom:40px;
}