<!DOCTYPE html>
<html>
<head>
  <title>Earthquakes</title>
  <%= stylesheet_link_tag    "application" %>
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,800">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
